@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fade-in-scale {
  0% {
    transform: scale(0.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes extend {
  0% {
    width: 0;
  }
  100% {
    width: 6rem;
  }
}

@keyframes bg-slide-left {
  0% {
    background-position: 120% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes bg-slide-right {
  0% {
    background-position: -20% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

// Portfolio
.hidden {
  opacity: 0;
}

.hidden-fade {
  opacity: 0;
}

.fade-up-element {
  animation: fade-up 0.4s ease-out forwards;
}

.hidden-fade-left {
  opacity: 0;
}

.fade-left {
  animation: fade-left 0.4s ease-out forwards;
}

.hidden-fade-right {
  opacity: 0;
}

.fade-right {
  animation: fade-right 0.4s ease-out forwards;
}

.hidden-extend {
  width: 0;
}

.extend {
  animation: extend 0.6s ease forwards;
}

.hidden-bg-1 {
  background-position: 120% 0;
}

.bg-left {
  animation: bg-slide-left 0.4s ease forwards;
}

.hidden-bg-2 {
  background-position: -20% 0;
}

.bg-right {
  animation: bg-slide-right 0.4s ease forwards;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}
