//////////////////////////////////////////////////////////
// CONTACT
.contact {
  &-send {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      justify-content: center;
    }
  }
}

.form {
  &-label {
    color: #2d81ff;
    color: var(--main);

    font-size: 2rem;
    font-weight: 600;
  }

  &-input,
  &-textarea {
    width: 100%;
    display: block;
    margin-top: 2rem;
    font-family: inherit;
    font-size: inherit;
    padding: 1.4rem 2rem;
    border: 2px solid #494949;
    border-radius: 3px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    background-color: var(--input);
    color: #000;
    color: var(--text);

    &:focus {
      border-color: #2d81ff;
      border-color: var(--main);
      outline: 0;
    }
  }

  &-message {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: right;
    display: block;

    @include respond(phone) {
      text-align: center;
    }

    svg {
      height: 3rem;
      width: 3rem;
      margin-right: 2rem;
    }
  }
}

.success {
  color: #00b530;
}

.error {
  color: #b50000;
}

.contact-details-box {
  text-align: right;

  @include respond(tab-port) {
    text-align: center;
  }
}

.contact-mail {
  &:link,
  &:visited {
    color: #000;
    color: var(--text);
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.4s;
  }

  &:hover::before {
    max-width: 100%;
  }

  &:hover {
    color: #2781ff;
    color: var(--main);
  }
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #2781ff;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  @include respond(phone) {
    position: absolute;
    top: 8px;
    left: 7px;
  }
}

.pulse {
  background-color: #2781ff;
  background-color: var(--main);
  height: 8px;
  width: 8px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.contact-availability {
  color: var(--text);
  display: flex;
  align-items: center;
  font-size: 2rem;

  @include respond(tab-port) {
    width: max-content;
    margin: 0 auto;
  }

  @include respond(phone) {
    width: unset;
    maring: 0;
    text-align: center;
    position: relative;
  }
}
