//////////////////////////////////////////////
// HEADER
header {
  height: 100vh;
  width: 100%;
  color: #fff;
  color: var(--bg);
  position: relative;
  margin-bottom: 6rem;

  @include respond(tab-land-small) {
    text-align: center;
  }

  @include respond(tab-land) {
    height: 50vh;
    min-height: 700px;
  }

  @include respond(phone) {
    background-image: url("../assets/header-bg-phone.png");
    background-size: cover;
  }
}

.header-grid-box {
  height: 100vh;
  min-height: 700px;
  position: relative;

  @include respond(tab-land) {
    height: 50vh;
    min-height: 700px;
  }

  @include respond(tab-port) {
    height: 85vh;
  }
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;

  a {
    animation: fade-in-up 0.5s ease 1.3s backwards;
  }
}

h1 {
  font-size: 5rem;
  margin-bottom: 6rem;
  animation: fade-in-up 0.5s ease 0.5s backwards;

  @include respond(tab-port) {
    font-size: 5rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }

  span {
    font-size: 50%;
    font-weight: 500;
    display: block;
    animation: fade-in-up 0.5s ease 0.9s backwards;

    @include respond(tab-port) {
      margin-top: 2rem;
    }
  }
}
