// /////////////////////////////////
// // Project Sections

// .project {
//   &-showcase-div {
//     opacity: 1;
//     transition: all 0.4s;
//   }

//   &-container {
//     text-align: center;
//     border-radius: 3px;
//     overflow: hidden;

//     h4 {
//       opacity: 0;
//     }
//   }

//   &-img {
//     border-radius: 3px;
//     width: 100%;
//     height: auto;
//     box-shadow: 0 2px 18px rgba(0, 0, 0, 0.11);
//     transform: scale(0.25);
//     opacity: 0;
//   }

//   &-img-container {
//     margin-bottom: 20px;
//     transition: all 0.25s ease;
//     cursor: pointer;
//     position: relative;
//     width: 100%;

//     &::after {
//       content: " View";
//       position: absolute;
//       top: 0;
//       left: 0;
//       bottom: 0;
//       right: 0;
//       background-color: rgba(0, 0, 0, 0.7);
//       color: #fff;
//       font-family: inherit;
//       font-size: 20px;
//       font-weight: 700;

//       display: flex;
//       justify-content: center;
//       align-items: center;

//       opacity: 0;
//       transition: all 0.25s ease;
//     }

//     &:hover::after {
//       opacity: 1;
//     }
//   }
// }

// // Single Project overview

// .project-info {
//   height: 100%;
//   margin: 15vh 0;

//   @include respond(phone) {
//     margin: 0;
//   }

//   &-div {
//     opacity: 0;
//     transition: all 0.4s;
//     display: none;
//     height: 100%;
//   }

//   &-back {
//     margin-bottom: 6rem;
//     font: inherit;
//     border: 2px solid transparent;
//     background-color: transparent;

//     display: flex;
//     align-items: center;
//     cursor: pointer;
//     color: #000;
//     color: var(--text);
//     padding: 4px 8px 4px 0;
//     border-radius: 3px;
//     transition: all 0.25s ease;

//     &:hover {
//       border: 2px solid #000;
//       border: 2px solid var(--text);
//     }

//     img {
//       margin-right: 1rem;
//     }
//   }

//   &-img-container {
//     position: relative;
//   }

//   &-img {
//     width: 100%;
//   }

//   p {
//     margin: 2rem 0;
//   }

//   &-btns {
//     margin-top: 6rem;
//     display: flex;

//     @include respond(tab-port) {
//       // justify-content: center;
//       display: block;

//       a {
//         width: 100%;
//         text-align: center;
//       }
//     }

//     a:first-of-type {
//       margin-right: 6rem;

//       @include respond(tab-port) {
//         margin-bottom: 2rem;
//       }
//     }
//   }
// }

.project-name {
  margin-bottom: 5px;
}

.project-box {
  height: 600px;
  width: 100%;
  display: block;
  margin-bottom: 60px;
  border-radius: 20px;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.11);
  color: #fff;
  padding: 60px;
  font-size: 28px;
  background-size: 95%;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
  position: relative;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  &:link,
  &:visited {
    text-decoration: none;
  }

  @include respond(tab-land) {
    margin-bottom: 30px;
  }

  @include respond(tab-port) {
    padding: 30px;
    height: 450px;
  }

  &:hover {
    transform: scale(1.04);
    filter: brightness(1.05);
    cursor: pointer;
  }

  h4 {
    font-size: 16px;
  }

  &-natours {
    background-color: #55c57a;
    background-image: url("../assets/webp/natours-clay@1x.webp");
    background-position: 200% 60%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/natours-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/natours-clay@3x.webp");
    }
  }

  &-portfolio {
    background-color: #2781ff;
    background-color: var(--main);
    background-image: url("../assets/webp/portfolio-clay@1x.webp");
    background-position: -150% 65%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/portfolio-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/portfolio-clay@3x.webp");
    }
  }

  &-omnifood {
    background-color: #e67e22;
    background-image: url("../assets/webp/omnifood-clay@1x.webp");
    background-position: 50% 70%;
    background-size: 100%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/omnifood-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/omnifood-clay@3x.webp");
    }
  }

  &-nexter {
    background-color: #101d2c;
    background-image: url("../assets/webp/nexter-clay@1x.webp");
    background-position: 40% 70%;
    background-size: 75%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/nexter-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/nexter-clay@3x.webp");
    }

    @include respond(tab-port) {
      margin-bottom: 0 !important;
    }
  }

  &-trillo {
    background-color: #eb2f64;
    background-image: url("../assets/webp/trillo-clay@1x.webp");
    background-position: 200% 70%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/trillo-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/trillo-clay@3x.webp");
    }
  }

  &-noticeboard {
    background-color: #1771ff;
    background-image: url("../assets/webp/noticeboard-clay@1x.webp");
    background-position: 100% 70%;
    background-size: 105%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/noticeboard-clay@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/noticeboard-clay@3x.webp");
    }
  }

  // DARK
  &-natours-dark {
    background-color: #55c57a;
    background-image: url("../assets/webp/natours-clay-dark@1x.webp");
    background-position: 200% 60%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/natours-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/natours-clay-dark@3x.webp");
    }
  }

  &-portfolio-dark {
    background-color: #2781ff;
    background-color: var(--main);
    background-image: url("../assets/webp/portfolio-clay-dark@1x.webp");
    background-position: -150% 65%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/portfolio-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/portfolio-clay-dark@3x.webp");
    }
  }

  &-omnifood-dark {
    background-color: #e67e22;
    background-image: url("../assets/webp/omnifood-clay-dark@1x.webp");
    background-position: 50% 70%;
    background-size: 100%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/omnifood-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/omnifood-clay-dark@3x.webp");
    }
  }

  &-nexter-dark {
    background-color: #101d2c;
    background-image: url("../assets/webp/nexter-clay-dark@1x.webp");
    background-position: 40% 70%;
    background-size: 75%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/nexter-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/nexter-clay-dark@3x.webp");
    }

    @include respond(tab-port) {
      margin-bottom: 0 !important;
    }
  }

  &-trillo-dark {
    background-color: #eb2f64;
    background-image: url("../assets/webp/trillo-clay-dark@1x.webp");
    background-position: 200% 70%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/trillo-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/trillo-clay-dark@3x.webp");
    }
  }

  &-noticeboard-dark {
    background-color: #1771ff;
    background-image: url("../assets/webp/noticeboard-clay-dark@1x.webp");
    background-position: 100% 70%;
    background-size: 95%;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (min-device-pixel-ratio: 2),
      only screen and (min-resolution: 192dpi),
      only screen and (min-resolution: 2dppx) {
      background-image: url("../assets/webp/noticeboard-clay-dark@2x.webp");
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 3),
      only screen and (min--moz-device-pixel-ratio: 3),
      only screen and (-o-min-device-pixel-ratio: 3/1),
      only screen and (min-device-pixel-ratio: 3),
      only screen and (min-resolution: 288dpi),
      only screen and (min-resolution: 3dppx) {
      background-image: url("../assets/webp/noticeboard-clay-dark@3x.webp");
    }
  }
}

.project-right-col-margin {
  margin-top: 20rem;

  @include respond(tab-port) {
    margin-top: 0;
  }
}

// .project-overview-bg {
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1000;
//   backdrop-filter: blur(3px);
//   display: none;
//   justify-content: center;
//   align-items: center;
// }

// .project-overview {
//   display: flex;
//   height: 100%;
//   flex-direction: column;
//   justify-content: space-between;

//   &-name {
//     font-size: 35px;
//   }

//   h4 {
//     font-size: 20px;
//     margin-bottom: 30px;
//   }

//   &-back {
//     position: absolute;
//     right: -5rem;
//     top: -5rem;
//     background-color: var(--bg);
//     background-color: #fff;
//     border-radius: 4px;
//     border: none;
//     cursor: pointer;
//     height: 48px;
//     width: 48px;

//     &:focus {
//       border: 2px solid var(--text);
//       border: 2px solid #000;
//     }

//     &-img {
//       height: 100%;
//       width: 100%;
//     }
//   }

//   &-box {
//     height: 600px;
//     background-color: #fff;
//     border-radius: 20px;
//     padding: 6rem;
//   }

//   &-img {
//     width: 100%;
//     height: auto;
//     display: block;
//     position: absolute;
//     top: 55%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &-description {
//     margin-bottom: 10px;

//     &:last-of-type {
//       margin-bottom: 30px;
//     }
//   }

//   &-btns {
//     display: flex;
//     justify-content: space-between;
//   }
// }

// .full-height {
//   height: 100%;
//   position: relative;
// }

// .project-techs {
//   display: block;
//   margin-bottom: auto;

//   ul {
//     list-style-type: none;
//   }

//   li {
//     display: inline-block;
//     font-size: 12px;
//     font-weight: 700;
//     color: var(--main);
//     color: #2781ff;
//     border: 2px solid var(--main);
//     border: 2px solid #2781ff;
//     padding: 4px;
//     border-radius: 4px;
//     margin-left: 1px;
//     margin-right: 1px;

//     &:last-of-type {
//       margin-right: 0;
//     }

//     &:first-of-type {
//       margin-left: 0;
//     }
//   }
// }

.hidden {
  opacity: 0;
}
